/**
* Reset or normalise used to standardise broswer display
  **/




/* Redefine existing HTML styles */
body{
    font-family: helvetica;
    font-size: smaller;
    color: #000000;
    width: 960px;
    margin-left: auto;
    margin-right: auto;

}


a{
    color: #999999;
    text-decoration: none;
}
a:link{

}

a:visited{

}
a:active{

}
a:hover{
    color: #000000;
}

header ul{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
header li{

    width: 160px;
    float: left;
    text-align: center;
}

header a{
    color: #000000;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

header a:hover{
    background-color: #999999;
}
footer ul{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    color: #000000;
}

footer li{
    width: 160px;
    float: left;
    text-align: center;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

}
}
div{
    clear: both;
}

/* Class based styles */



/* ID based styles */




/* Style changes for larger displays or devices */


div img{
    width: ;
}



















